@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* === CSS RESET ==== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

img {
  display: block;
  width: 100%;
}

/* === VARIABLES === */
:root {
  /* COLORS */
  --darkblue: hsl(218, 44%, 22%);
  --grayishblue: hsl(220, 15%, 55%);
  --lightgray: hsl(212, 45%, 89%);
  --white: hsl(0, 0%, 100%);
  /* FONTS */
  --fontweight-bold: 700;
  --fontweight-regular: 400;
}

/* === GENERAL STYLES === */
body {
  align-items: center;
  background-color: var(--lightgray);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: var(--white);
  border-radius: 15px;
  height: auto;
  padding: 15px;
  width: 325px;
}

.qr-img {
  border-radius: 15px;
  padding-bottom: 10px;
}

.header {
  color: var(--darkblue);
  font-size: 22px;
  font-weight: var(--fontweight-bold);
  padding: 5px 15px;
  text-align: center;
}

.description {
  color: var(--grayishblue);
  font-size: 15px;
  padding: 10px 20px 30px 20px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  padding-top: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
